  <section id="banner">
    <div class="content">
      <header>        
        <h1>International Grocery Store</h1>
        <p style="margin: 0 !important;">A Quality Grocery Products Only!</p>
        by <b><a href="https://www.thesocial.ee" target="_blank">Social Restaurant Group</a></b> 
      </header> <br>
      
      <p> Coming Soon !!</p>

      <p><b>Located</b>:Tartu mnt 87D / Pallasti 2, Tallinn</b> near 'Sikupilli-Center'</p>
      <ul class="actions">
        <li>
          
  <!-- If you would like to customize the button, remove or change the "class" attribute inside the <span> tag 
    <span class="orderFood-button33" data-glf-cuid="83413cd8-a9b2-493b-8fe9-702ec0d5f8ac" data-glf-ruid="8ba17049-59d3-4f08-9e7b-7ed16756929e" > See MENU & Order </span>
    <span class="reservation-btn reservation" data-glf-cuid="83413cd8-a9b2-493b-8fe9-702ec0d5f8ac" data-glf-ruid="8ba17049-59d3-4f08-9e7b-7ed16756929e" data-glf-reservation="true" > Table Reservation</span>
    <script src="https://www.fbgcdn.com/embedder/js/ewm2.js" defer async ></script> -->
         
        </li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/bg-illustration.png" alt="" />
    </span>
  </section>


