<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Tere Rae</h1>
        <p>A Premium Indian Restaurant in Rae Vald</p>
      </header>
      <p><i> 'Online Restaurant - Cloud Kitchen' </i>: a Future Of Restaurant Industry service by <b>Social Restaurant Group</b>  </p>
      <ul class="actions">
        <li><a href="#" class="button big">Order Now</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
