  <section id="banner">
    <div class="content">
      <header>
        <h1>Tere Rae</h1>
        <p style="margin: 0 !important;">A Premium Indian Restaurant in Rae Vald</p>
         A place you trust & get high quality food only !!
      </header> <br>

      <p><i> 'Online Restaurant - Cloud Kitchen' </i>: a Future Of Restaurant Industry service by <b>Social Restaurant Group</b>  </p>
      <ul class="actions">
        <li>
          
          <!-- If you would like to customize the button, remove or change the "class" attribute inside the <span> tag --> 
          <span class="orderFood-button33" data-glf-cuid="83413cd8-a9b2-493b-8fe9-702ec0d5f8ac" data-glf-ruid="54016de6-76db-4c8e-8707-5c3bb4b9c762" >ORDER ONLINE</span> 
          <script src="https://www.fbgcdn.com/embedder/js/ewm2.js" defer async ></script>
        
        </li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
