    <section id="catering">
        <div class="content">
          <header>
            <h1>CATERING</h1>
          </header>
          <p>We provide catering service:<br> 
            <strong> As group orders delivery in best packaging </strong> | <strong> Buffet for gathering or party. </strong> 
           </p>

           <p>For further information kindly contact us at: </p>
      
            <ul class="actions">
                <li> <p> Restaurant Manager <br>
                     info.indiancorner@gmail.com  <br>
                     +372 56854024</p> 
                </li>

             </ul>
        </div>
         <span class="image object">
            <img src="assets/images/catering.jpg" alt="" /> 
        </span>  
      </section>