    <section id="catering">
        <div class="content">
          <header>
            <h1>Business Customer</h1>
          </header>
          <p>We provide flexible service to business customers:<br> 
            <strong> We deal with all kind of businesses from small to large scale restaurants, cafetarias, retailers etc. </strong>
           </p>

           <p>For further information kindly contact us at: </p>
      
            <ul class="actions">
                <li> <p> Manager <br>
                     info.socialgrocery@gmail.com  <br>
                     +372 56854024</p> 
                </li>

             </ul>
        </div>
         <span class="image object">
            <img src="assets/images/catering.jpg" alt="" /> 
        </span>  
      </section>