<section id="contactUs">
        <div class="content">

			<form action="https://liveformhq.com/form/76c1a724-96de-48df-9ab8-745e4211fb80" method="post" id="contact-form">
				<div class="row uniform">
					<div class="6u 12u$(xsmall)">
						<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
					</div>
					<div class="6u$ 12u$(xsmall)">
						<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
					</div>
					<!-- Break -->
					<div class="12u$">
						<div class="select-wrapper">
							<select name="demo-category" id="demo-category">
								<option value="">- Category -</option>
								<option value="1">Manufacturing</option>
								<option value="1">Shipping</option>
								<option value="1">Administration</option>
								<option value="1">Human Resources</option>
							</select>
						</div>
					</div>
					<!-- Break -->
					<div class="4u 12u$(small)">
						<input type="radio" id="demo-priority-low" name="demo-priority" checked>
						<label for="demo-priority-low">Low</label>
					</div>
					<div class="4u 12u$(small)">
						<input type="radio" id="demo-priority-normal" name="demo-priority">
						<label for="demo-priority-normal">Normal</label>
					</div>
					<div class="4u$ 12u$(small)">
						<input type="radio" id="demo-priority-high" name="demo-priority">
						<label for="demo-priority-high">High</label>
					</div>
					<!-- Break -->
					<div class="6u 12u$(small)">
						<input type="checkbox" id="demo-copy" name="demo-copy">
						<label for="demo-copy">Email me a copy</label>
					</div>
					<div class="6u$ 12u$(small)">
						<input type="checkbox" id="demo-human" name="demo-human" checked>
						<label for="demo-human">I am a human</label>
					</div>
					<!-- Break -->
					<div class="12u$">
						<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
					</div>
					<!-- Break -->
					<div class="12u$">
						<ul class="actions">
							<li> <h3 class="section-subheading"><div id="contact-messages"></div></h3> </li>
							<li><button id="submit" type="submit" class="btn btn-xl">Send Message</button></li>
							<li><input type="reset" value="Reset" /></li>
						</ul>
					</div>
				</div>
			</form>		</div>  
		<style>
			#contact-messages {
			  color: white;
			  margin: 10px;
			}
			</style>
			  <script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
			  <script type="text/javascript" charset="utf-8">
				  $("#contact-form").on("submit", function(e) {
					  e.preventDefault(); // to stop the form from being submitted
		  
					  $.ajax({
						  type: "POST",
						  url: $(this).attr("action"),
						  data: $(this).serialize(),
						  headers:
						  {
							  "Accept": "application/json"
						  },
						  success: function(response)
						  {
							  $("#contact-form")[0].reset();
							  $("#contact-messages").text("Thank you for your submission, we'll get back to you soon :)");
							  console.log(response); // response contains the form submission that was just made
						  },
					  });
				  });
			  </script>
      </section>







