
    <!-- Portfolio Grid Section -->
    <section id="coronaInfo" class="bg-light-gray">
        <div class="container">
		

	<div class="row text-center">
			
	<div class="co-container">
    <div class="col-A">
			<img alt="" class="vvImg" src="img/vv1.png"> 
	</div>
        <div class="col-B">
									<h2>How We Keep You Safe from COVID-19</h2>
				<ul class="list-co">
                        <li>We put in place a number of robust measures designed to make your health & safety a top priority whilst still enabling our employees to fulfill orders.</li>
						<li>We offer minimum exposure takeaway at checkout.</li>
						<li>We offer cashless payments by card or Online Pay from Website.</li>
						<li>We offer our own Contact-less delivery and much cheaper than wolt & bolt.</li>
						<li>Our staff received proper on-the-job training on the matters of personal hygiene and COVID-19 prevention.</li>
						<li>We take temperature readings of all staff members daily. So far, no staff member has been exposed to any person tested positive for Coronavirus.</li>
						<li>Our staff washes and disinfects their hands every half hour.</li>
						<li>All surfaces and cooking stations are cleaned and sanitized thoroughly, including door handles and light switches.</li>
					
             
		</ul>
		
		</div>
     </div>
					
		</div>
		</div>
    </section>