<!-- About Section -->
    <section id="dailyMeal">
        <div class="container">
<div class="row text-center">
   <!--  <h2> <a class="page-scroll" href="#quiz"> <STRONG> Pre-order DayMeal & Avoid Waiting Time </STRONG> </a> </h2> <br>-->
   <h3 class="section-subheading text-muted">Last Updated on 22.02.2021</h3>
            <h3 class="section-subheading text-muted"> <STRONG> Our happy hour runs from 11:30 AM - 15:00 on weekdays.</h3>
                <h3 class="section-subheading text-muted"><strong>We Serve High Quality Food only</h3>
                    <h3 class="section-subheading text-muted"><strong>For Vegan we prepare curry with coconut cream & without butter</h3>
                    <span class="fa-stack fa-4x" onclick="dayMealToggle()">
                                <i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
                             <i aria-hidden="true"> <img src="img/dayMeal.png" class="dayMeal-Offer" alt="DayMeal"></i>
                                         
                    </span>
                        <p class="large text-muted" onclick="dayMealToggle()"><a>Daily Offers</a></p>					
                        <p class="text-muted">        
                            </p>
                            <h3 class="section-subheading text-muted"><strong>Best Lunch Menu</strong> in Mustamäe</h3>
                            
                          <p>

                          </p> 

</div>


<div id="daymeals"class="articlep-list inner" style="display: none;">
<!-- Monday -->
<article class="articlep">
        <div class="tag-links">
		    <a href="https://www.thesocial.ee/#dailyMeal">Unlimited_Food</a> 
			<a href="https://www.thesocial.ee/#dailyMeal">Buffet</a> 
            <a href="https://www.thesocial.ee/#dailyMeal">HealthyFood</a> 
            <a href="https://www.thesocial.ee/#dailyMeal">Tandoor & ŠaŠlÕkk</a>      
            <a href="https://www.thesocial.ee/#dailyMeal"><span>€ </span> 6.90 </a>        
            <a href="https://www.thesocial.ee/#dailyMeal">Vegan</a>
            <a href="https://www.thesocial.ee/#dailyMeal">Vegetarian</a> 
            <a href="https://www.thesocial.ee/#dailyMeal"><span>€ </span> 5.90 </a> 
        </div>
        <div class="articlep-header-wrap">
            <div class="articlep-meta">
                <img class="author-avatar" src="/img/team/4.gif" alt="chef avatar">
                <span class="articlep-author">Best of <a href=""> Chef</a></span>
                <time class="published" datetime="2019-01-14"> Monday</time>
            
            </div><!-- .articlep-meta -->
        </div><!-- .articlep-header-wrap -->
    <div class="articlep-content" style="padding: 10px">
        <p>
            <STRONG style="color: #cd9023;"> Grill & ŠaŠlÕkk:  </STRONG> Peri-Peri Chicken Grilled in Tandoor and Served with Rice and Fresh salad.<br> <br> 
            <STRONG style="color: #cd9023;"> Non-Vegetarian:  </STRONG> &nbsp; &nbsp; Butter Chicken/Või Kana with Basmati Rice & Salad. <br> <br> 
		   <STRONG style="color: #cd9023;">  Vegan/Vegetarian: </STRONG>  Chana Masala with Basmati Rice & Salad (mention if order is vegan). 
           

        </p>
    </div><!-- .articlep-content -->
</article><!-- .articlep -->
<!-- Tuesday -->
<article class="articlep">
        <div class="tag-links">
		    <a href="https://www.thesocial.ee/#dailyMeal">Unlimited_Food</a> 
			<a href="https://www.thesocial.ee/#dailyMeal">Buffet</a> 
            <a href="https://www.thesocial.ee/#dailyMeal">HealthyFood</a> 
            <a href="https://www.thesocial.ee/#dailyMeal">Tandoor & ŠaŠlÕkk</a>      
            <a href="https://www.thesocial.ee/#dailyMeal"><span>€ </span> 6.90 </a>        
            <a href="https://www.thesocial.ee/#dailyMeal">Vegan</a>
            <a href="https://www.thesocial.ee/#dailyMeal">Vegetarian</a> 
            <a href="https://www.thesocial.ee/#dailyMeal"><span>€ </span> 5.90 </a> 
        </div>
        <div class="articlep-header-wrap">
            <div class="articlep-meta">
                <img class="author-avatar" src="/img/team/4.gif" alt="chef avatar">
                <span class="articlep-author">Best of <a href=""> Chef</a></span>
                <time class="published" datetime="2019-01-14"> Tuesday</time>
            
            </div><!-- .articlep-meta -->
        </div><!-- .articlep-header-wrap -->
    <div class="articlep-content" style="padding: 10px">
        <p>
            <STRONG style="color: #cd9023;"> Grill & ŠaŠlÕkk:  </STRONG> Chicken Tikka/Kana Tikka Grilled in Tandoor and Served with Rice and Fresh salad.<br> <br> 
           <STRONG style="color: #cd9023;"> Non-Vegetarian:  </STRONG> &nbsp; &nbsp; Spinach Chicken/Kana with Basmati Rice & Salad. <br> <br>
           <STRONG style="color: #cd9023;"> Vegan/Vegetarian: </STRONG>  Rajmah Masala with Basmati Rice & Salad (mention if order is vegan). 
           

        </p>
    </div><!-- .articlep-content -->
</article><!-- .articlep -->
		<!-- Wednesday -->
<article class="articlep">
        <div class="tag-links">
		    <a href="https://www.thesocial.ee/#dailyMeal">Unlimited_Food</a> 
			<a href="https://www.thesocial.ee/#dailyMeal">Buffet</a> 
            <a href="https://www.thesocial.ee/#dailyMeal">HealthyFood</a> 
            <a href="https://www.thesocial.ee/#dailyMeal">Tandoor & ŠaŠlÕkk</a>      
            <a href="https://www.thesocial.ee/#dailyMeal"><span>€ </span> 6.90 </a>        
            <a href="https://www.thesocial.ee/#dailyMeal">Vegan</a>
            <a href="https://www.thesocial.ee/#dailyMeal">Vegetarian</a> 
            <a href="https://www.thesocial.ee/#dailyMeal"><span>€ </span> 5.90 </a> 
        </div>
        <div class="articlep-header-wrap">
            <div class="articlep-meta">
                <img class="author-avatar" src="/img/team/4.gif" alt="chef avatar">
                <span class="articlep-author">Best of <a href=""> Chef</a></span>
                <time class="published" datetime="2019-01-14"> Wednesday</time>
            
            </div><!-- .articlep-meta -->
        </div><!-- .articlep-header-wrap -->
    <div class="articlep-content" style="padding: 10px">
        <p>
            <STRONG style="color: #cd9023;"> Grill & ŠaŠlÕkk:  </STRONG> Chicken/ Kana ŠaŠlÕkk Grilled in Tandoor and Served with Rice and Fresh salad.<br> <br> 
           <STRONG style="color: #cd9023;"> Non-Vegetarian:  </STRONG> &nbsp; &nbsp;Pork/Sealiha Vindaloo with Basmati Rice & Salad. <br> <br>
           <STRONG style="color: #cd9023;"> Vegan/Vegetarian: </STRONG>  Aloo Gobhi Masala with Basmati Rice & Salad (mention if order is vegan). 
           

        </p>
    </div><!-- .articlep-content -->
</article><!-- .articlep -->
		
		
				<!-- Thrusday -->
<article class="articlep">
        <div class="tag-links">
		    <a href="https://www.thesocial.ee/#dailyMeal">Unlimited_Food</a> 
			<a href="https://www.thesocial.ee/#dailyMeal">Buffet</a> 
            <a href="https://www.thesocial.ee/#dailyMeal">HealthyFood</a> 
            <a href="https://www.thesocial.ee/#dailyMeal">Tandoor & ŠaŠlÕkk</a>      
            <a href="https://www.thesocial.ee/#dailyMeal"><span>€ </span> 6.90 </a>        
            <a href="https://www.thesocial.ee/#dailyMeal">Vegan</a>
            <a href="https://www.thesocial.ee/#dailyMeal">Vegetarian</a> 
            <a href="https://www.thesocial.ee/#dailyMeal"><span>€ </span> 5.90 </a> 
        </div>
        <div class="articlep-header-wrap">
            <div class="articlep-meta">
                <img class="author-avatar" src="/img/team/4.gif" alt="chef avatar">
                <span class="articlep-author">Best of <a href=""> Chef</a></span>
                <time class="published" datetime="2019-01-14"> Thursday</time>
            
            </div><!-- .articlep-meta -->
        </div><!-- .articlep-header-wrap -->
    <div class="articlep-content" style="padding: 10px">
        <p>
            <STRONG style="color: #cd9023;"> Grill & ŠaŠlÕkk:  </STRONG> Creamy Chicken/ Kana Grilled in Tandoor and Served with Rice and Fresh salad.<br> <br> 
           <STRONG style="color: #cd9023;"> Non-Vegetarian:  </STRONG> &nbsp; &nbsp;Fish Masala Curry/ Kala Curry with Basmati Rice & Salad. <br> <br>
           <STRONG style="color: #cd9023;"> Vegan/Vegetarian: </STRONG>  Mushroom Matar Masala with Basmati Rice & Salad (mention if order is vegan). 
           

        </p>
    </div><!-- .articlep-content -->
</article><!-- .articlep -->
		
		
						<!-- Friday -->
<article class="articlep">
        <div class="tag-links">
		    <a href="https://www.thesocial.ee/#dailyMeal">Unlimited_Food</a> 
			<a href="https://www.thesocial.ee/#dailyMeal">Buffet</a> 
            <a href="https://www.thesocial.ee/#dailyMeal">HealthyFood</a> 
            <a href="https://www.thesocial.ee/#dailyMeal">Tandoor & ŠaŠlÕkk</a>      
            <a href="https://www.thesocial.ee/#dailyMeal"><span>€ </span> 6.90 </a>        
            <a href="https://www.thesocial.ee/#dailyMeal">Vegan</a>
            <a href="https://www.thesocial.ee/#dailyMeal">Vegetarian</a> 
            <a href="https://www.thesocial.ee/#dailyMeal"><span>€ </span> 6.50 </a> 
        </div>
        <div class="articlep-header-wrap">
            <div class="articlep-meta">
                <img class="author-avatar" src="/img/team/4.gif" alt="chef avatar">
                <span class="articlep-author">Best of <a href=""> Chef</a></span>
                <time class="published" datetime="2019-01-14"> Friday</time>
            
            </div><!-- .articlep-meta -->
        </div><!-- .articlep-header-wrap -->
    <div class="articlep-content" style="padding: 10px">
        <p>
            <STRONG style="color: #cd9023;"> Grill & ŠaŠlÕkk:  </STRONG> Dubai Special Chicken/Shish Taouk Grilled in Tandoor and Served with Rice and Fresh salad.<br> <br> 
           <STRONG style="color: #cd9023;"> Non-Vegetarian:  </STRONG> &nbsp; &nbsp; Social Special Lemon Chicken with Basmati Rice & Salad. <br> <br>
           <STRONG style="color: #cd9023;"> Vegan/Vegetarian: </STRONG>  Mix Vegetable Korma with Basmati Rice & Salad (mention if order is vegan). 
           

        </p>
    </div><!-- .articlep-content -->
</article><!-- .articlep -->
</div>       
<script>
    function dayMealToggle() {
      var x = document.getElementById("daymeals");
      
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>	
</div>
</section>
