<!-- About Section -->
    <section id="dailyMeal">
        <div class="container">
<div class="row text-center">
            <h3 class="section-subheading text-muted"> <STRONG> We Offer quality, quantity & best price to Restaurants, Catering Businesses.
                Please send your query if you are a business person.
            </h3>

</div>

<script>
    function dayMealToggle() {
      var x = document.getElementById("daymeals");
      
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>	
</div>
</section>
