<section id="daymeal">
	<header class="major">
		<h2>Daymeal Offers</h2>
		<div class="tag-links">
			<a href="">Unlimited_Food</a> 
			<a href="">HealthyFood</a> 
			<a href="">Tandoor & ŠaŠlÕkk</a>      
			<a href="">Vegan</a>
			<a href="">Vegetarian</a> 
		</div>
	</header>
	<div class="features">
<!-- Monday -->
		<article class="articlep" style="display: block; margin-bottom: -16px;">
			<div class="articlep-header-wrap" style="margin-top: 10px;">
				<div class="articlep-meta">
					<img class="author-avatar" src="assets/images/4.gif" alt="chef avatar">
					<span class="articlep-author">Best of <a> Chef</a></span>
					<time class="published" datetime="2019-01-14"> ESMASPÄEV</time>
				
				</div><!-- .articlep-meta -->
			</div><!-- .articlep-header-wrap -->
		<div class="articlep-content" style="padding: 15px">
			<p>
				<STRONG style="color: #cd9023;"> Chicken/Kana Tikka:  </STRONG>  Peakoka erilises vürtsisegus marineeritud kana, mis on grillitud vardas tandoori ahjus. <br> 
				<STRONG style="color: #cd9023;"> Pekingi Kana: </STRONG> &nbsp; &nbsp; Praetud kanatükid ja aedvilja valik tomati ja sojakastmega.  <br>
			</p>
		</div><!-- .articlep-content -->
	</article><!-- .articlep -->

	<!-- Tuesday -->
	<article class="articlep" style="display: block; margin-bottom: -16px;">
		<div class="articlep-header-wrap" style="margin-top: 10px;">
			<div class="articlep-meta">
				<img class="author-avatar" src="assets/images/4.gif" alt="chef avatar">
				<span class="articlep-author">Best of <a> Chef</a></span>
				<time class="published" datetime="2019-01-14"> TEISIPÄEV</time>
			
			</div><!-- .articlep-meta -->
		</div><!-- .articlep-header-wrap -->
	<div class="articlep-content" style="padding: 15px">
		<p>
			<STRONG style="color: #cd9023;"> Kana Šašlõkk:  </STRONG>  Euroopa stiilis marineeritud ja tandoori ahjus grillitud kana. <br> 
			<STRONG style="color: #cd9023;"> Võikana: </STRONG> &nbsp; &nbsp; Tandoori ahjus grillitud kana, mis on küpsetatud võises ja kreemises rikkalikus tomatikastmes.   <br>
		</p>
	</div><!-- .articlep-content -->
</article><!-- .articlep -->

<!-- Wednesday -->

<article class="articlep" style="display: block; margin-bottom: -16px;">
	<div class="articlep-header-wrap" style="margin-top: 10px;">
		<div class="articlep-meta">
			<img class="author-avatar" src="assets/images/4.gif" alt="chef avatar">
			<span class="articlep-author">Best of <a> Chef</a></span>
			<time class="published" datetime="2019-01-14"> KOLMAPÄEV</time>
		
		</div><!-- .articlep-meta -->
	</div><!-- .articlep-header-wrap -->
<div class="articlep-content" style="padding: 15px">
	<p>
		<STRONG style="color: #cd9023;"> Kreemjas Kana Tikka:  </STRONG>  Kreemises marinaadis kana, mis on küpsetatud vardas tandoori ahjus.  <br> 
		<STRONG style="color: #cd9023;"> Magus-Hapu Sealiha: </STRONG> &nbsp; &nbsp; Praetud sealihatükid ja aedvilja valik, mis on küpsetatud magus-hapus kastmes. <br>
	</p>
</div><!-- .articlep-content -->
</article><!-- .articlep -->

<!-- Thursday -->
<article class="articlep" style="display: block; margin-bottom: -16px;">
	<div class="articlep-header-wrap" style="margin-top: 10px;">
		<div class="articlep-meta">
			<img class="author-avatar" src="assets/images/4.gif" alt="chef avatar">
			<span class="articlep-author">Best of <a> Chef</a></span>
			<time class="published" datetime="2019-01-14"> NELJAPÄEV </time>
		
		</div><!-- .articlep-meta -->
	</div><!-- .articlep-header-wrap -->
<div class="articlep-content" style="padding: 15px">
	<p>
		<STRONG style="color: #cd9023;"> Sealiha Šašlõkk:  </STRONG>  Euroopa stiilis marineritud ja grillitud sealiha.  <br> 
		<STRONG style="color: #cd9023;"> Tšilli Kala: </STRONG> &nbsp; &nbsp; Kõigi aegade lemmik, rohelise tšilli, sibula ja spetsiaalse kastmega, 
		marineeritud ning küpsetatud kalatükid. <br>
	</p>
</div><!-- .articlep-content -->
</article><!-- .articlep -->

<!-- Friday -->
<article class="articlep" style="display: block; margin-bottom: -16px;">
	<div class="articlep-header-wrap" style="margin-top: 10px;">
		<div class="articlep-meta">
			<img class="author-avatar" src="assets/images/4.gif" alt="chef avatar">
			<span class="articlep-author">Best of <a> Chef</a></span>
			<time class="published" datetime="2019-01-14"> REEDE</time>
		
		</div><!-- .articlep-meta -->
	</div><!-- .articlep-header-wrap -->
<div class="articlep-content" style="padding: 15px">
	<p>
		<STRONG style="color: #cd9023;"> Dubai eriline Shish Taouk:  </STRONG>  Traditsioonilises lähis-ida vürtsisegus marineeritud ja tandoori ahjus grillitud kana.  <br> 
		<STRONG style="color: #cd9023;"> Sidruni Kana: </STRONG> &nbsp; &nbsp; Tandoori ahjus grillitud kana, mis on küpsetatud võises ja sidrunimaitseline kreemikas kaste  <br>
	</p>
</div><!-- .articlep-content -->
</article><!-- .articlep -->
	</div>
</section> 