<!--<html>

<head>
    <title>LiveForm Ajax Form Demo</title>
</head>

<body>
    <div class=container>
      <h1 class='text-center'>Ajax Form Demo</h1>
      <div id="messages">
      </div>
      <div class=row>
      <div class='column column-50 column-offset-25'>
        <form id="contact-form" method="post" action="https://liveformhq.com/form/857cda6b-6be0-4b3b-b998-1747311aa330">
          <fieldset>
            <label for="name">Name</label>
            <input id="name" name="name" type="text" />
            <label for="email">Email</label>
            <input id="email" name="email" type="email" />
            <label for="message">Message</label>
            <textarea id="message" name="message"></textarea>
            <button class="button-primary" id="submit" type="submit">Send Message</button>
          </fieldset>
        </form>
      </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $("#contact-form").on("submit", function(e) {
            e.preventDefault(); // to stop the form from being submitted

            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                data: $(this).serialize(),
                headers:
                {
                    "Accept": "application/json"
                },
                success: function(response)
                {
                    $("#contact-form")[0].reset();
                    $("#messages").text("Thank you for your submission, we'll get back to you soon :)");
                    console.log(response); // response contains the form submission that was just made
                },
            });
        });
    </script>
</body>

</html> --> 
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Checkboxradio - Default functionality</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "input" ).checkboxradio();
  } );
  </script>
</head>
<body>
<div class="widget">
  <h1>Checkbox and radio button widgets</h1>
 
  <h2>Radio Group</h2>
  <fieldset>
    <legend>Select a Location: </legend>
    <label for="radio-1">New York</label>
    <input type="radio" name="radio-1" id="radio-1">
    <label for="radio-2">Paris</label>
    <input type="radio" name="radio-1" id="radio-2">
    <label for="radio-3">London</label>
    <input type="radio" name="radio-1" id="radio-3">
  </fieldset>
 
  <h2>Checkbox</h2>
  <fieldset>
    <legend>Hotel Ratings: </legend>
    <label for="checkbox-1">2 Star</label>
    <input type="checkbox" name="checkbox-1" id="checkbox-1">
    <label for="checkbox-2">3 Star</label>
    <input type="checkbox" name="checkbox-2" id="checkbox-2">
    <label for="checkbox-3">4 Star</label>
    <input type="checkbox" name="checkbox-3" id="checkbox-3">
    <label for="checkbox-4">5 Star</label>
    <input type="checkbox" name="checkbox-4" id="checkbox-4">
  </fieldset>
 
  <h2>Checkbox nested in label</h2>
  <fieldset>
    <legend>Bed Type: </legend>
    <label for="checkbox-nested-1">2 Double
      <input type="checkbox" name="checkbox-nested-1" id="checkbox-nested-1">
    </label>
    <label for="checkbox-nested-2">2 Queen
      <input type="checkbox" name="checkbox-nested-2" id="checkbox-nested-2">
    </label>
    <label for="checkbox-nested-3">1 Queen
      <input type="checkbox" name="checkbox-nested-3" id="checkbox-nested-3">
    </label>
    <label for="checkbox-nested-4">1 King
      <input type="checkbox" name="checkbox-nested-4" id="checkbox-nested-4">
    </label>
  </fieldset>
</div>
<form action="https://liveformhq.com/form/76c1a724-96de-48df-9ab8-745e4211fb80" method="POST" enctype="multipart/form-data"  accept-charset="utf-8">
  <input type="hidden" name="_utf8" value="✓">

  <!--
    NOTE: This is an optional field, if your form has a field named '_redirect',
    The user will be redirected to this page after the submission is saved
  -->
  <input type="hidden" value="https://liveformhq.com/thank_you" name="_redirect" />

  <label for="name">Name</label>
  <input type="text" id="name" name="name"> <br />

  <label for="email">Email</label>
  <input type="text" id="email" name="email"> <br />
  <input type="file" name="resume" accept="file_extension|audio/*|video/*|image/*|media_type">
  <button type="submit">Submit</button>
</form> 
 

<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCPoLxSnBcjmUNcnEb5ll20WSXxudkNWYk",
    authDomain: "thesocial-6e6b4.firebaseapp.com",
    databaseURL: "https://thesocial-6e6b4.firebaseio.com",
    projectId: "thesocial-6e6b4",
    storageBucket: "thesocial-6e6b4.appspot.com",
    messagingSenderId: "456998265288"
  };
  firebase.initializeApp(config);
</script>

 
 
</body>
</html>
