<section id="freeDelivery">
    <div class="content">
      <header>
        <h1>Free Delivery</h1>
        <p>We Offer Free Home Delivery</p>
      </header>
      <ul class="actions">
        <li style="display: block;">
           <!--  <a href="#" class="button big">Order Now</a> -->
        <!-- If you would like to customize the button, remove or change the "class" attribute inside the <span> tag --> 
            <h3 class="">
            <img src="assets/images/orderOnline.png" class="ziti-delivery" alt="onlineOrder" style="width: 30px;">

            <span class="orderFood-Options" data-glf-cuid="83413cd8-a9b2-493b-8fe9-702ec0d5f8ac" data-glf-ruid="54016de6-76db-4c8e-8707-5c3bb4b9c762" ><a>Order <STRONG>online</STRONG></a></span> 
            <script src="https://www.fbgcdn.com/embedder/js/ewm2.js" defer async ></script>
        </h3>
        </li>

        <li style="display: block;">
            <h3 class="">
            <img src="assets/images/whatsappLogo.png" class="ziti-delivery" alt="whatsappLogo" style="width: 30px;">
            Order on  <strong>WhatsApp</strong> </h3>
        </li>

      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/delivery-boy.gif" alt="" />
    </span>
  </section>
  