<section id="gallery">
        <div class="content">
          <header>
            <h1>Gallery</h1>
          </header> 
          <div class="posts">
            <article>
              <a href="#" class="image"><img src="assets/images/g1.jpg" alt=""></a>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/g2.jpg" alt=""></a>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/g3.jpg" alt=""></a>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/g4.jpg" alt=""></a>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/g5.jpg" alt=""></a>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/g6.jpg" alt=""></a>
            </article>

          </div>
        </div>
      </section>


