
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <!--<meta name="description" content="{{ site.description }}"> -->
	<meta name="description" content="Order Online for Takeaway / Delivery or Book a Table.	Here at The Social Restaurant, you'll experience delicious Indian, Salads, Coffee, Breakfast, Asian, Chinese, Thai, North Indian cuisine. Try our mouth-watering dishes, carefully prepared with fresh ingredients! At The Social, our recipe for success is simple – Great food & care makes customers return every time. We are located at Akadeemia tee 24, Tallinn, Estonia">
    <link rel="canonical" href="{{ page.url | replace:'/index.html','' | absolute_url }}">
    <link rel="shortcut icon" type="image/gif" href="img/sun-icon.gif"/>

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>. -->

<script src="https://kit.fontawesome.com/eb2dba87e3.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <script>
  $( function() {
    $( "#tabs" ).tabs({
      collapsible: true
    });
  } );
  </script>

  <script>
  $( function() {
    $( "input" ).checkboxradio();
  } );
  </script>
  
<!--  <script type="text/javascript">
  window.onload = (function(){
      if(window.location.hash == '#thank-you'){
      document.getElementById('thank-you-message').className = 'none';
      }
      })
</script> -->

    <style type="text/css">
      #footer{
        padding-top: 50px;
      }
      div.field_with_errors{display: inline;}
    </style>


    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | absolute_url }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | absolute_url }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  	<!-- google analytics - i will not share this data with google -->
	{% include analytics.html %}	

<script>
function removeLastChild() {
  var select = document.getElementById('myDIV1');
  select.removeChild(select.lastChild);
}
</script>
</head>
