    <!-- Portfolio Grid Section -->
    <section id="membership">
        <div class="container">
		
			 <div class="row text-center">
			 <h3 class="section-subheading text-muted"></h3>
				      <ul class="list-inline quicklinks">
                        <li><h3 class="section-subheading text-muted"><STRONG>Become 'Social' Member & Get Exciting Offers/Monthly</STRONG></h3> </li><br>
                        <li><h3 class="section-subheading text-muted"><a href="#dailyMeal">1. Every 10th <STRONG>'Day Meal/Päevapraadide'</STRONG> Free </a></h3></li> <br>
						<li><h3 class="section-subheading text-muted">2. Every 10th <STRONG>'Beer'</STRONG>  Free </h3></li><br>
						<li><h3 class="section-subheading text-muted">3. Every 5th <STRONG>'Coffee'</STRONG> Free </h3></li><br>
						<li><h3 class="section-subheading text-muted">Stay tuned to know more !!</h3></li>
				     </ul>	
            </div>
			
            <div class="row text-center">
             <div class="col-md-4">					
					<a onclick="myFunction1()"><p class="large text-muted" style=" cursor: pointer; "><STRONG>Become 'Social' Member</STRONG></p> </a>					
			</div>            
			
			<div class="col-md-4">
			<a onclick="myFunction2()"><p class="large text-muted" style=" cursor: pointer; ">Admin Login</p></a>                   					
            </div>	
			
             <div class="col-md-4">                      
					<a onclick="myFunction3()"><p class="large text-muted" style=" cursor: pointer; ">Search Yourself</p></a>  				
             </div>
            </div>
			
<div id="myDIV1" style="display: none;">
<p class="large text-muted">New Member Registration</p>
<script type="text/javascript" src="https://c6cmr562.caspio.com/dp/b702800065632fa8f4194e0ea90c/emb"></script>
<p class="large text-muted">* Please ignore 'Disclaimer', We are using free version of 'Caspio'.</p>
</div>

<div id="myDIV2" style="display: none;">
<p class="large text-muted">Access to Admins Only</p>
<script type="text/javascript" src="https://c6cmr562.caspio.com/dp/b7028000a20838b676474484bdd2/emb"></script>
<p class="large text-muted">* Please ignore 'Disclaimer', We are using free version of 'Caspio'.</p>
</div>

<div id="myDIV3" style="display: none;">
<p class="large text-muted">Seach Your Profile</p>
<script type="text/javascript" src="https://c6cmr562.caspio.com/dp/b702800085a00e3f914941f5928d/emb"></script>
<p class="large text-muted">* Please ignore 'Disclaimer', We are using free version of 'Caspio'.</p>
</div>

<script>
function myFunction1() {
  var x = document.getElementById("myDIV1");
  var y = document.getElementById("myDIV2");
  var z = document.getElementById("myDIV3");
  
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
    z.style.display = "none";
  } else {
    x.style.display = "none";
  }
}

function myFunction2() {
  var x = document.getElementById("myDIV2");
  var y = document.getElementById("myDIV1");
  var z = document.getElementById("myDIV3");
  
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
    z.style.display = "none";
  } else {
    x.style.display = "none";
  }
}

function myFunction3() {
  var x = document.getElementById("myDIV3");
  var y = document.getElementById("myDIV1");
  var z = document.getElementById("myDIV2");
  
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
    z.style.display = "none";
  } else {
    x.style.display = "none";
  }
}
</script>		
    </section>
