<!-- Services Section -->
    <section id="menuItems">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">International Groceries</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a onclick="myFunction4()">
                        <i class="fab fa-pagelines fa-stack-1x fa-inverse-vegan"></i>
                        </a>
                    </span>
                  <!--  <h4 class="service-heading">
                    	 <a href="#VeganMenu">Vegan</a>
                    </h4> -->
					<a class="page-scroll" onclick="myFunction4()"><p class="large text-muted" style=" cursor: pointer; ">Vegan</p> </a>					
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                         <a onclick="myFunction5()">
                        <i class="fab fa-readme fa-stack-1x fa-inverse-fullMenu"></i>
                         </a>
                    </span>
                    <!--   <h4 class="service-heading">
                   <a href="#fullMenu">Full Menu</a></h4>. -->
					<a class="page-scroll" onclick="myFunction5()"><p class="large text-muted" style=" cursor: pointer; ">World Cuisine</p> </a>					
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                         <a onclick="myFunction6()">
                        <i class="fas fa-glass-martini-alt fa-stack-1x fa-inverse-glass"></i> 
                         </a>
                    </span>
                   <!--    <h4 class="service-heading"> 
                    <a href="#drinks">Drinks</a></h4>. -->
					<a class="page-scroll" onclick="myFunction6()"><p class="large text-muted" style=" cursor: pointer; ">Wine Store</p> </a>					
                </div>
            </div>


<script>
function myFunction4() {
  var x = document.getElementById("myDIV4");
  var y = document.getElementById("myDIV5");
  var z = document.getElementById("myDIV6");
  
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
    z.style.display = "none";
  } else {
    x.style.display = "none";
  }
}

function myFunction5() {
  var x = document.getElementById("myDIV5");
  var y = document.getElementById("myDIV4");
  var z = document.getElementById("myDIV6");
  
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
    z.style.display = "none";
  } else {
    x.style.display = "none";
  }
}

function myFunction6() {
  var x = document.getElementById("myDIV6");
  var y = document.getElementById("myDIV4");
  var z = document.getElementById("myDIV5");
  
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
    z.style.display = "none";
  } else {
    x.style.display = "none";
  }
}
</script>		


        </div>
</section>