    <!-- Portfolio Grid Section -->
    <section id="orderFood" class="bg-light-gray">
        <div class="container">
            <div class="row text-center">
			
			    <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                         <a href="">
                        <i class="fas fa-people-carry fa-stack-1x fa-inverse-taltech"></i>
                         </a>
                    </span>
                    <p class="large text-muted">Order Directly from Us</p>					
					<p class="text-muted"><h3 class="section-subheading text-muted"><STRONG>Get 10% discount</STRONG> on direct order from us *</h3></p> 
                    
                    <ul class="list-inline quicklinks">
                        <li>
                            <h3 class="section-subheading text-muted">
                            
                            <img src="img/orderOnline.png" class="ziti-delivery" alt="onlineOrder" style="width: 30px;">
                           
                                <!-- If you would like to customize the button, remove or change the "class" attribute inside the <span> tag --> 
                                    <span class="orderFood-Options" data-glf-cuid="83413cd8-a9b2-493b-8fe9-702ec0d5f8ac" data-glf-ruid="54016de6-76db-4c8e-8707-5c3bb4b9c762" ><br><a>Order <STRONG>online</STRONG></a></span> 
                                    <script src="https://www.fbgcdn.com/embedder/js/ewm2.js" defer async ></script>
                                        
                                    </h3>
                        
                        </li><br>
                        <li>
                            <h3 class="section-subheading text-muted">
                            <img src="img/whatsappLogo.png" class="ziti-delivery" alt="whatsappLogo" style="width: 30px;">
                            Order on  <strong>WhatsApp</strong> 
                        </li>
                     </ul>
                      </h3>
                      <p class="text-muted">
                        Message or call us at <STRONG>+372-56854024</STRONG> for quick orders or for more information ! 
                    </p> 
                </div>

                <div class="col-md-4">
				<span class="fa-stack fa-4x">
                    <!-- If you would like to customize the button, remove or change the "class" attribute inside the <span> tag --> 
                            <i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
                         <i aria-hidden="true"> <img src="img/robot.gif" class="robot-delivery" alt="Robot"></i>
						             
                </span>
                    <p class="large text-muted">Robot Delivery</p>					
					<p class="text-muted">        
                    	<h3 class="section-subheading text-muted"><STRONG>Cheapest delivery</STRONG> in Mustamäe</h3>
					  </p> 
                </div>
								
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="https://wolt.com/en/est/tallinn/restaurant/social-cafe-and-resto">
                        <i class="fas fa-biking fa-stack-1x fa-inverse-wolt"></i>
                        </a>
                    </span>

                    <p class="large text-muted">Order by Bolt & Wolt</p> 
					 <p class="text-muted">        
                    	<h3 class="section-subheading text-muted">Ordering from long-distance</h3>
					  </p>
                </div>
				

            </div>

			<div class="row text-center">					                    
			<img src="img/zc.png" class="ziti-delivery" alt="ZitiCity"  style="width: 40px;">
				  <h3 class="section-subheading text-muted">
                      * The Social can deliver food directly to your doorstep, collaborating with <STRONG>ZITICITY - 'faster & cheapest'</STRONG>
					delivery than Wolt | Bolt. You never know till you try, Delivery charges starts from 2.5 euro </h3>
            </div>
        </div>
		<!--                  <div class="col-md-4">
				<span class="fa-stack fa-4x">
                <span class="fawsome-OrderButton" data-glf-cuid="83413cd8-a9b2-493b-8fe9-702ec0d5f8ac" data-glf-ruid="54016de6-76db-4c8e-8707-5c3bb4b9c762" id="glfButton1">
                            <i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
                         <i class="fas fa-shopping-bag fa-stack-1x fa-inverse-takeOut" aria-hidden="true"></i>
				</span> 
                <script src="https://www.fbgcdn.com/embedder/js/ewm2.js" defer="" async=""></script>

						<img src="img/label-discount.png" alt="discount" height="50" width="70" style="vertical-align: top;margin-left: -150px;">
                </span>
					

                    <p class="large text-muted">10% discount on direct order from us *</p>					
					<p class="text-muted">        
                    	<h3 class="section-subheading text-muted"><STRONG>Get 10% discount</STRONG> on direct order from us, <br><STRONG>see Menu & Order online </STRONG>or call us +372-56854024*</h3>
					  </p> 
                </div> -->
    </section>
