    <!-- Portfolio Grid Section -->
    <section id="orderFood" class="bg-light-gray">
        <div class="container">
            <div class="row text-center">
			
			    <div class="col-md-4">

                </div>

                <div class="col-md-4">
                    <p class="text-muted">
                        Message or call us at <STRONG>+372-56854024</STRONG> for quick orders or for more information ! 
                    </p> 
                </div>
								
                <div class="col-md-4">
                </div>
				

            </div>
        </div>
    </section>
