    <!-- Portfolio Grid Section -->
    <section id="paymentOnline">
        <div class="container">
		
			 <div class="row text-center">
			 <h3 class="section-subheading text-muted">How We Keep You Safe from COVID-19</h3>
			 
			 		<ul  style="list-style: none;">
                        <li>As a precaution against the spread of the coronavirus, we recommend the use of online payments.</li>
						
						<div class="slide-sep"></div>
						<li><STRONG>Order Food</STRONG> & <STRONG>Pay Online</STRONG></li>
						<div class="slide-sep"></div>
                    </ul>
					
				      <ul class="list-inline quicklinks">
                        <li><h3 class="section-subheading text-muted">Account Details</h3></li> <br>
						<li><h3 class="section-subheading text-muted">HAR HAR MAHADEV OÜ | EE841010220276904221 </h3></li><br>
						<li><h3 class="section-subheading text-muted">Choose Your Bank Account</h3></li>
				     </ul>	
					 
            </div>
			
			
			
        <div class="row text-center">
		<div class="col-md-4"></div>
		<div class="col-md-4">
                    <ul class="list-inline">
                    <!--    <li> 
						<a href="https://www.seb.ee/cgi-bin/ipank/ipank.p?lang=EST&amp;act=EMK&amp;selgitus=Food%20Purchase&amp;saajakonto=EE841010220276904221&amp;saajanimi=HAR%20HAR%20MAHADEV%20OU&amp;frnam=0">
						<img src="img/seb.png" class="SEB Bank" alt="SEB Bank" style="width: 150px;">	
					   </a>	<p class="large text-muted">Robot Delivery</p>	 -->
					   <li> 
							<span class="fa-stack fa-4x">
								<a href="https://www.seb.ee/cgi-bin/ipank/ipank.p?lang=EST&amp;act=EMK&amp;selgitus=Food%20Purchase&amp;saajakonto=EE841010220276904221&amp;saajanimi=HAR%20HAR%20MAHADEV%20OU&amp;frnam=0">
								<i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
								<i aria-hidden="true"> <img src="img/seb.png" class="seb-logo" alt="SEB"></i>
								</a>	             
							</span>

                        </li>
                        
                        <li> 
						<!-- <a href="https://www.swedbank.ee/private/d2d/payments2/smartPayment">
					<img src="img/swedbank.png" class="SwedBank" alt="SEB Bank" style="width: 150px;">     
				        </a>	-->
						
							<span class="fa-stack fa-4x">
								<a href="https://www.swedbank.ee/private/d2d/payments2/smartPayment">
								<i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
								<i aria-hidden="true"> <img src="img/swedbank.png" class="swedbank-logo" alt="Swedbank"></i>
								</a>	             
							</span>
                          
                        </li>
                        
                    </ul>
                </div>	
			
        </div>			
		</div>
    </section>
