<section id="payOnline">
  <div class="content">
    <header>
      <h1>Payment Method</h1>
      <p>We Offer Payment BY:<br> <strong> CASH </strong> | <strong> CARD ON DELIVERY </strong> | <strong>ONLINE </strong></p>
    </header>

     <p>How We Keep You Safe from COVID-19 <br>

     As a precaution against the spread of the coronavirus, we recommend the use of online payments. </p>

     <ul class="actions">
      <li> <p> Account Details</p> </li>  
      <li> <p> HAR HAR MAHADEV OÜ | EE841010220276904221  </p> </li> 
      <li> <p> Choose Your Bank Account</p> </li> <br> <br>

      <li style="margin-left: 50px;">
          <h3 class="">
            <a href="https://www.seb.ee/cgi-bin/ipank/ipank.p?lang=EST&amp;act=EMK&amp;selgitus=Food%20Purchase&amp;saajakonto=EE841010220276904221&amp;saajanimi=HAR%20HAR%20MAHADEV%20OU&amp;frnam=0">
              <img src="assets/images/seb.png" class="ziti-delivery" alt="SEB" style="width: 30px;">
              <strong>SEB</strong>
            </a>
          </h3>
      </li>

      <li style="">
          <h3 class="">
            <a href="https://www.swedbank.ee/private/d2d/payments2/smartPayment">
              <img src="assets/images/swedbank.jpg" class="ziti-delivery" alt="Swedbank" style="width: 30px;">
              <strong>Swedbank</strong> 
            </a>  
          </h3>
      </li>
    </ul>

  </div>
 <!--  <span class="image object">
    <img src="assets/images/lambchop.jpg" alt="" /> 
  </span>  -->
</section>
