<section id="reservation">
<div class="container">
    <div class="row">
        <div class="col-lg-12"> 


<form id="contact-form" method="post" action="https://liveformhq.com/form/76c1a724-96de-48df-9ab8-745e4211fb80">


  <label for="name">Name</label>
  <input type="text" id="name" name="name"> <br />

  <label for="email">Email</label>
  <input type="text" id="email" name="email"> <br />

  <button type="submit">Submit</button>
</form>

                </div>
            </div>
                            </div>



    </section>