<section id="team">
        <div class="content">
          <header>
            <h1>Our Start Up Team</h1>
            A place you trust & get high quality services only !!
          </header> 

            <p> ---- </p>>

          <ul class="actions icon-m" >  
            <li> 
                <div class="team-member">
                <img src="assets/images/1.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>

            <li> 
                <div class="team-member">
                <img src="assets/images/2.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>

            <li> 
                <div class="team-member">
                <img src="assets/images/3.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>

          </ul>
        </div>
      </section>


