<section id="team">
        <div class="content">
          <header>
            <h1>Our Start Up Team</h1>
            A place you trust & get high quality food only !!
          </header> 

            <p>
              For anyone who enjoys high quality freshly cooked Indian food, 
              you will love Indian Corner! We brings to you some of the finest, 
              most flavoursome and most authentic Indian food in Estonia, that consistently impresses our diners.

              Our award-winning chefs and culinary team are highly experienced, 
              ensuring that each time you visit us, you will enjoy a pleasant and a memorable dining experience.

          <ul class="actions icon-m" >  
            <li> 
                <div class="team-member">
                <img src="assets/images/1.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>

            <li> 
                <div class="team-member">
                <img src="assets/images/2.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>

            <li> 
                <div class="team-member">
                <img src="assets/images/3.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>
 <br>

            <li> 
                <div class="team-member">
                <img src="assets/images/4.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>

            <li> 
                <div class="team-member">
                <img src="assets/images/5.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>

            <li> 
                <div class="team-member">
                <img src="assets/images/6.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>

          </ul>
        </div>
      </section>


