<section id="team">
        <div class="content">
          <header>
            <h1>Our Start Up Team</h1>
            A place you trust & get high quality food only !!
          </header> 

            <p>
                We provided a <i> 'Online Restaurant - Cloud Kitchen' </i> concept which is the Future Of Restaurant Industry. 
                We consider our restaurant as start-up business model, introducing unique ideas, trying to bring IT & Digital strategy into it.


               We have 3 great chefs with 10 years experience in Dubai.
               They are so talented and have a great taste in their hands. We always wanted the taste is unique and traditional 
               which is not available in whole Estonia and yes they are amazingly unique. 

               With so many supportive and loving guests visiting us everyday. We will continue to make them happy every-time they visit.
               We love to cook and meet new people and make their day great. 
               Love to see smiling faces and wish happiness spread with the taste.

          <ul class="actions icon-m" >  
            <li> 
                <div class="team-member">
                <img src="assets/images/1.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>

            <li> 
                <div class="team-member">
                <img src="assets/images/2.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>

            <li> 
                <div class="team-member">
                <img src="assets/images/3.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>
 <br>

            <li> 
                <div class="team-member">
                <img src="assets/images/4.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>

            <li> 
                <div class="team-member">
                <img src="assets/images/5.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>

            <li> 
                <div class="team-member">
                <img src="assets/images/6.gif" class="img-responsive img-circle" width="200" height="200">
                </div>
            </li>

          </ul>
        </div>
      </section>


