<!-- Services Section -->
    <section id="menuItems">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Menu</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pagelines fa-stack-1x fa-inverse-vegan"></i>
                    </span>
                    <h4 class="service-heading">
                    	 <a href="#VeganMenu">Vegan</a>
                    </h4>
                    <p class="text-muted">Delicious & healthy vegan recipes</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bars fa-stack-1x fa-inverse-fullMenu"></i>
                    </span>
                    <h4 class="service-heading">
                    <a href="#fullMenu">Full Menu</a></h4>
                    <p class="text-muted">Healthy and chef signature recipes</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-glass fa-stack-1x fa-inverse-glass"></i>
                    </span>
                    <h4 class="service-heading"> <a href="#">Bar</a></h4>
                    <p class="text-muted">coming soon</p>
                </div>
            </div>
        </div>
</section>