<!-- Services Section -->
<section id="VeganMenu">
<div class="container">

<div class="fl-page-content" itemprop="mainContentOfPage">
<div class="fl-content-full container">
    <div class="row">
        <div class="fl-content col-md-12">
            <article class="fl-post post-62 page type-page status-publish hentry" id="fl-post-62" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">

<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-58d0e7e521b62" data-node="58d0e7e521b62">
    <div class="fl-row-content-wrap">

<div class="fl-row-content fl-row-fixed-width fl-node-content">
<div class="fl-col-group fl-node-58d0e7e522d87" data-node="58d0e7e522d87">
    <div class="fl-col fl-node-58d0e7e522dd8" data-node="58d0e7e522dd8">
    <div class="fl-col-content fl-node-content">
    <div class="fl-module fl-module-pp-restaurant-menu fl-node-58d0e7e522e24" data-node="58d0e7e522e24">
    <div class="fl-module-content fl-node-content">

    <div class="fl-node-58d0e7e522e24 pp-restaurant-menu-item-wrap">

<div class="row text-center">
    <div class="slide-sep"></div> 
        <h3 class="section-subheading text-muted">Vegan Recipes</h3>
    <div class="slide-sep"></div> 
</div>
    <h3 class="pp-restaurant-menu-heading">STARTERS</h3>
    <img class="menu-center-img" src="img/starters.jpg" alt="Menu Logo">
    <div class="pp-restaurant-menu-item-wrap-in">

            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-0 pp-menu-item pp-menu-item-0">
                    <div class="pp-restaurant-menu-item-left">
                            <h2 class="pp-restaurant-menu-item-header">
                                    <span class="pp-restaurant-menu-item-title">Samosa 
                                        <img src="img/vegan.svg" alt="Vegan" height="20" width="20">
                                    </span></h2>
                                        <div class="pp-restaurant-menu-item-description">
                                Patties stuffed with fresh potatoes, green peas and freshly ground Indian spices, served with sauce (2 pcs)
                            </div>
                            </div>

                    <div class="pp-restaurant-menu-item-right">
                        <div class="pp-restaurant-menu-item-price"><span>€ </span> 4.40</div>
                    </div>
            </div>

          <div class="pp-restaurant-menu-item pp-restaurant-menu-item-1 pp-menu-item pp-menu-item-1">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                        <span class="pp-restaurant-menu-item-title">Crispy Fried Vegetables
                        <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                    <div class="pp-restaurant-menu-item-description">
                    Crispy coated vegetables strips with oriental flavor, famous Indo-chineese starter.</div>
                </div>
                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price"><span>€ </span> 4.70 </div>
                </div>
            </div>

                        <!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-2 pp-menu-item pp-menu-item-2">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                    <span class="pp-restaurant-menu-item-title">Vegetable Munchurian
                    <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                        <div class="pp-restaurant-menu-item-description">
                           Fried veggie balls in a spicy light soy brown sauce.
                        </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 5.50
                    </div>
                </div>    
            </div>  

            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-3 pp-menu-item pp-menu-item-3">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                        <span class="pp-restaurant-menu-item-title"> Onion Rings
                            <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                    <div class="pp-restaurant-menu-item-description">
                     Delicious onion sliced deep fried in a thick gram flour batter consisting of freshly ground spices, served with sauce. 
                    </div>
                </div>
                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price"><span>€ </span> 3.50 </div>
                </div>
            </div>                                  
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

<!-- Soup -->
    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-58d0e7e521b62" data-node="58d0e7e521b62">
    <div class="fl-row-content-wrap">

<div class="fl-row-content fl-row-fixed-width fl-node-content">
<div class="fl-col-group fl-node-58d0e7e522d87" data-node="58d0e7e522d87">
    <div class="fl-col fl-node-58d0e7e522dd8" data-node="58d0e7e522dd8">
    <div class="fl-col-content fl-node-content">
    <div class="fl-module fl-module-pp-restaurant-menu fl-node-58d0e7e522e24" data-node="58d0e7e522e24">
    <div class="fl-module-content fl-node-content">
        
    <div class="fl-node-58d0e7e522e24 pp-restaurant-menu-item-wrap">
    <h3 class="pp-restaurant-menu-heading">Soup</h3>
    <img class="menu-center-img" src="img/soup.png" alt="Menu Logo" style="width:250px;height:250px;">
    <div class="pp-restaurant-menu-item-wrap-in">

            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-0 pp-menu-item pp-menu-item-0">
                    <div class="pp-restaurant-menu-item-left">
                            <h2 class="pp-restaurant-menu-item-header">
                                    <span class="pp-restaurant-menu-item-title">Jhol Momo Soup
                                        <img src="img/vegan.svg" alt="Vegan" height="20" width="20">
                                    </span></h2>
                                        <div class="pp-restaurant-menu-item-description">
                                           Jhol momo is very famous and much loved steamed Himalayan dumplings served with jhol pickled soup served with naan (choose dumpling: Vegetarian or Chicken)
                                        </div>
                    </div>

                    <div class="pp-restaurant-menu-item-right">
                        <div class="pp-restaurant-menu-item-price"><span>€ </span> 6.00</div>
                    </div>

            </div>

            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-1 pp-menu-item pp-menu-item-1">
                    <div class="pp-restaurant-menu-item-left">
                            <h2 class="pp-restaurant-menu-item-header">
                                    <span class="pp-restaurant-menu-item-title">Tom Yam Soup
                                         <img src="img/vegan.svg" alt="Vegan" height="20" width="20">
                                    </span></h2>
                                        <div class="pp-restaurant-menu-item-description">
                                           Thai style spicy shrimp soup with coconut milk, mushrooms, lime and herb mixture, served with naan (choose without shrimps for vegan)
                                        </div>
                    </div>

                    <div class="pp-restaurant-menu-item-right">
                        <div class="pp-restaurant-menu-item-price"><span>€ </span> 6.00</div>
                    </div>
                    
            </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

<!-- Main Course -->
<!-- Veg - -->
<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-58d0e7e521b62" data-node="58d0e7e521b62">
    <div class="fl-row-content-wrap">

<div class="fl-row-content fl-row-fixed-width fl-node-content">
<div class="fl-col-group fl-node-58d0e7e522d87" data-node="58d0e7e522d87">
    <div class="fl-col fl-node-58d0e7e522dd8" data-node="58d0e7e522dd8">
    <div class="fl-col-content fl-node-content">
    <div class="fl-module fl-module-pp-restaurant-menu fl-node-58d0e7e522e24" data-node="58d0e7e522e24">
    <div class="fl-module-content fl-node-content">
        
    <div class="fl-node-58d0e7e522e24 pp-restaurant-menu-item-wrap">
    <h3 class="pp-restaurant-menu-heading">Main Course</h3>
    <div class="row text-center">
  <!--  <div class="slide-sep"></div> 
        <h3 class="section-subheading text-muted">Basmati rice are complementary with all Indian dishes, with Chineese dishes please order noodles or rice seperately</h3>
        <h3 class="section-subheading text-muted">Paneer and sauces are House special</h3>.
    <div class="slide-sep"></div>  -->
</div> 
    <img class="menu-center-img" src="img/mc1.png" alt="Menu Logo">

<!-- New Row -->
<div class="row text-center">
    <div class="slide-sep"></div> 
        <h2 class="menu-header font-smoothing">Best of Vegetarian</h2>   
        <h3 class="section-subheading text-muted">We prepare our cottage cheese at The Social kitchen fresh (not frozen)</h3>
    <div class="slide-sep"></div> 
</div> 
    <div class="pp-restaurant-menu-item-wrap-in">

            <!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-0 pp-menu-item pp-menu-item-0">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                    <span class="pp-restaurant-menu-item-title">Dal Tadhka 
                        <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                        <div class="pp-restaurant-menu-item-description">
                           Cooked lentils which are lastly tempered with spices & herbs served with plain basmati rice
                        </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 8.50
                    </div>
                </div>
            </div>

            <!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-1 pp-menu-item pp-menu-item-1">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                    <span class="pp-restaurant-menu-item-title">Rajmah Masala
                    <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                        <div class="pp-restaurant-menu-item-description">
                           Rajma curry is basically made using raw kidney beans cooked with onions, tomatoes and a special blend of spices served with plain basmati rice(Please mention vegan at the time of order to the waiter, for non-vegan its made with cream and butter)
                        </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 8.50
                    </div>
                </div>    
                </div>  

            <!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-2 pp-menu-item pp-menu-item-2">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                    <span class="pp-restaurant-menu-item-title">Chana Masala
                    <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                        <div class="pp-restaurant-menu-item-description">
                           Wildly popular dish from the Indian subcontinent made of chickpeas (chana) simmered in a feisty, spiced tomato sauce served with plain basmati rice (Please mention Vegan at the time of order to the waiter, for non-vegan its made with cream and butter)
                        </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 8.50
                    </div>
                </div>    
                </div>  

           <!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-3 pp-menu-item pp-menu-item-3">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                    <span class="pp-restaurant-menu-item-title">Mix Vegetable Vegan
                    <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                        <div class="pp-restaurant-menu-item-description">
                           Vegetables, pineapple, mushrooms in curry sauce served with plain basmati rice
                        </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 8.90
                    </div>
                </div>    
                </div>  

           <!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-4 pp-menu-item pp-menu-item-4">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                    <span class="pp-restaurant-menu-item-title">Mushroom Matar Masala
                    <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                        <div class="pp-restaurant-menu-item-description">
                           Mushroom and green peas cooked with onions, tomatoes curry and a special blend of spices served with plain basmati rice (Please mention vegan at the time of order to the waiter, for non-vegan its made with cream and butter)
                        </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 8.90
                    </div>
                </div>    
            </div>  

           <!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-5 pp-menu-item pp-menu-item-5">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                    <span class="pp-restaurant-menu-item-title">Tandoori Eggplant
                    <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                        <div class="pp-restaurant-menu-item-description">
                           Freshly roasted eggplant cooked with onions, tomatoes curry and a special blend of spices served with plain basmati rice (Please mention vegan at the time of order to the waiter, for non-vegan its made with cream and butter)
                        </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 8.90
                    </div>
                </div>    
            </div> 

           <!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-6 pp-menu-item pp-menu-item-6">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                    <span class="pp-restaurant-menu-item-title">Okra/Bhindi Masala
                    <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                        <div class="pp-restaurant-menu-item-description">
                            Okra is a loved cuisine in India, the gravy is tomato based, cooked with onions, capsicum and a special blend of spices served with plain basmati rice or atta naan (Please mention vegan at the time of order to the waiter, for non-vegan its made with cream and butter). 
                        </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 8.90
                    </div>
                </div>    
            </div>

           <!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-7 pp-menu-item pp-menu-item-7">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                    <span class="pp-restaurant-menu-item-title">ALOO GOBI Masala
                    <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                        <div class="pp-restaurant-menu-item-description">
                            Cauliflower and potatoes cooked in an exotic blend of spices with tomatoes and ginger, garnished
with coriander leaves served with plain basmati rice (Please mention vegan at the time of order to the waiter, for non-vegan its made with cream and butter). 
                        </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 8.90
                    </div>
                </div>    
            </div>

    <!-- end item  -->            
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


<!-- Main Course -->
<!-- Veg - -->
<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-58d0e7e521b62" data-node="58d0e7e521b62">
    <div class="fl-row-content-wrap">

<div class="fl-row-content fl-row-fixed-width fl-node-content">
<div class="fl-col-group fl-node-58d0e7e522d87" data-node="58d0e7e522d87">
    <div class="fl-col fl-node-58d0e7e522dd8" data-node="58d0e7e522dd8">
    <div class="fl-col-content fl-node-content">
    <div class="fl-module fl-module-pp-restaurant-menu fl-node-58d0e7e522e24" data-node="58d0e7e522e24">
    <div class="fl-module-content fl-node-content">
        
    <div class="fl-node-58d0e7e522e24 pp-restaurant-menu-item-wrap">
    <h3 class="pp-restaurant-menu-heading">Naan/Bread</h3>
    <div class="row text-center">
  <!--  <div class="slide-sep"></div> 
        <h3 class="section-subheading text-muted">Basmati rice are complementary with all Indian dishes, with Chineese dishes please order noodles or rice seperately</h3>
        <h3 class="section-subheading text-muted">Paneer and sauces are House special</h3>.
    <div class="slide-sep"></div>  -->
</div> 
    <img class="menu-center-img" src="img/naan.png" alt="Menu Logo">

<!-- New Row -->
<div class="row text-center">
    <div class="slide-sep"></div> 
        <h2 class="menu-header font-smoothing">Best of Vegetarian</h2>   
        <h3 class="section-subheading text-muted">We prepare our cottage cheese at The Social kitchen fresh (not frozen)</h3>
    <div class="slide-sep"></div> 
</div> 
    <div class="pp-restaurant-menu-item-wrap-in">

            <!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-0 pp-menu-item pp-menu-item-0">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                    <span class="pp-restaurant-menu-item-title">Aata Naan 
                        <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                        <div class="pp-restaurant-menu-item-description">
 Very healthy for gut, made from whole wheat bread cooked in tandoori clay oven topped with butter (can be made vegan without butter)
                        </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 2.90
                    </div>
                </div>
            </div>

<!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-1 pp-menu-item pp-menu-item-1">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                    <span class="pp-restaurant-menu-item-title">Aata Garlic Naan
                    <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                        <div class="pp-restaurant-menu-item-description"> Very healthy for gut, made from whole wheat bread cooked in tandoori clay oven topped with garlic and butter (can be made vegan without butter)
                        </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 3.20
                    </div>
                </div>
            </div>

            <!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-2 pp-menu-item pp-menu-item-2">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                    <span class="pp-restaurant-menu-item-title">Aata Lacha Parantha
                    <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                        <div class="pp-restaurant-menu-item-description"> Very healthy for gut, Whole wheat bread with layers
                            (can be made vegan without butter)
                        </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 2.90
                    </div>
                </div>
            </div>

                            <!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-3 pp-menu-item pp-menu-item-3">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                    <span class="pp-restaurant-menu-item-title">Aata Aloo Prantha Naan
                        <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                        <div class="pp-restaurant-menu-item-description"> Naan stuffed with spiced potatoes mixture topped with butter (can be made vegan without butter)
                        </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 3.90
                    </div>
                </div>
            </div>
    <!-- end item  -->            
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

<!-- Momos -->
    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-58d0e7e521b62" data-node="58d0e7e521b62">
    <div class="fl-row-content-wrap">

<div class="fl-row-content fl-row-fixed-width fl-node-content">
<div class="fl-col-group fl-node-58d0e7e522d87" data-node="58d0e7e522d87">
    <div class="fl-col fl-node-58d0e7e522dd8" data-node="58d0e7e522dd8">
    <div class="fl-col-content fl-node-content">
    <div class="fl-module fl-module-pp-restaurant-menu fl-node-58d0e7e522e24" data-node="58d0e7e522e24">
    <div class="fl-module-content fl-node-content">
        
    <div class="fl-node-58d0e7e522e24 pp-restaurant-menu-item-wrap">
    <h3 class="pp-restaurant-menu-heading">Momo/Himalayan-Dumplings</h3>
    <div class="row text-center">
    <div class="slide-sep"></div> 
        <h3 class="section-subheading text-muted">Momos are handmade prepared at Social kitchen and served with a chef special himalayan sesame sauce </h3> 
    <div class="slide-sep"></div> 
</div>
    <img class="menu-center-img" src="img/momos.png" alt="Menu Logo" style="width:250px;height:250px;">
    <div class="pp-restaurant-menu-item-wrap-in">

            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-0 pp-menu-item pp-menu-item-0">
                    <div class="pp-restaurant-menu-item-left">
                            <h2 class="pp-restaurant-menu-item-header">
                                    <span class="pp-restaurant-menu-item-title">Vegetable Steamed Momos
                    <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
                                        <div class="pp-restaurant-menu-item-description"> 
                                            Steamed dumplings filled with vegetables seasoned with cilantro, garlic, ginger and different spices served with chef special himalayan sauce (8pc)
                                        </div>
                    </div>

                    <div class="pp-restaurant-menu-item-right">
                        <div class="pp-restaurant-menu-item-price"><span>€ </span> 5.90</div>
                    </div>

            </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

<!-- Rice Biryani-->
     <!-- Tandoor -->
<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-58d0e7e521b62" data-node="58d0e7e521b62">
    <div class="fl-row-content-wrap">

<div class="fl-row-content fl-row-fixed-width fl-node-content">
<div class="fl-col-group fl-node-58d0e7e522d87" data-node="58d0e7e522d87">
    <div class="fl-col fl-node-58d0e7e522dd8" data-node="58d0e7e522dd8">
    <div class="fl-col-content fl-node-content">
    <div class="fl-module fl-module-pp-restaurant-menu fl-node-58d0e7e522e24" data-node="58d0e7e522e24">
    <div class="fl-module-content fl-node-content">
        
    <div class="fl-node-58d0e7e522e24 pp-restaurant-menu-item-wrap">
    <h3 class="pp-restaurant-menu-heading">Rice & Biryani</h3>
    <img class="menu-center-img" src="img/biryani123.png" alt="Menu Logo">

<!-- New Row -->
    <div class="pp-restaurant-menu-item-wrap-in">

            <!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-0 pp-menu-item pp-menu-item-0">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
                    <span class="pp-restaurant-menu-item-title">Plain Basmati Rice</span></h2>
                        <div class="pp-restaurant-menu-item-description">
                        </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 2.50
                    </div>
                </div>
            </div>

            <!--   item -->
            <div class="pp-restaurant-menu-item pp-restaurant-menu-item-1 pp-menu-item pp-menu-item-1">
                <div class="pp-restaurant-menu-item-left">
                    <h2 class="pp-restaurant-menu-item-header">
    <span class="pp-restaurant-menu-item-title">Vegetables/Vegan Biryani <img src="img/vegan.svg" alt="Vegan" height="20" width="20"></span></h2>
        <div class="pp-restaurant-menu-item-description">A simple and satisfying rice meal made with the goodness of veggies, cashews, almonds and raisins
            </div>
                </div>

                <div class="pp-restaurant-menu-item-right">
                    <div class="pp-restaurant-menu-item-price">
                        <span>€ </span> 7.70
                    </div>
                </div>
            </div>
 
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
<!--  Sparkling Champions    -->    
    </article>
</div>
</div>
</div>
</div>
</section>