<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">
    {% include header.html %}          <!-- Header Title -->
    {% include orderFood.html %}   
	{% include paymentOnline.html %} 	   <!-- membership -->
	{% include coronaInfo.html %} 
    {% include dailyMeal.html %} 
    {% include menuItems.html %}        <!-- Menu -->
    {% include catering.html %}  <!-- News -->
   <!--  quiz.html -->
    {% include about.html %}           <!-- Events (Social) -->
    {% include team.html %}
    {% include contact.html %}        <!-- Join Us -->  
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}  
    </body>
</html>

